<%- include('./partials/head') %>
<%- include('./partials/navigation') %>
<h1>Sign Up</h1>
<form>
<label for="email">Email</label>
<input type="text" id="email" name="email" />
<p id="emailError"></p>
<label for="password">Password</label>
<input type="password" id="password" name="password" />
<p id="passwordError"></p>
<button>Sign Up</button>
</form>

<script>

    const form = document.querySelector('form')
    const emailError = document.querySelector('#emailError')
    const passwordError = document.querySelector('#passwordError')

    form.addEventListener('submit',async (e)=>{
        e.preventDefault()

        // Reset error if submit button pushed
        emailError.textContext = ''
        passwordError.textContext = ''

        //  Retrieve email and password from signup form
        const email = form.email.value
        const password = form.password.value

        try{
            const res = await fetch('/v1/auth/signup',{
                method: 'POST',
                body: JSON.stringify({email,password}),
                headers: {'Content-Type':'application/json'}
            })
            const data = await res.json();
            if(data.errors){
                emailError.textContent = data.errors.email
                passwordError.textContent = data.errors.password
            }
            if(data.user){
                location.assign('/v1/home')
            }
        }
        catch(err){
            console.log(err)
        }
    })

</script>


<%- include('./partials/foot') %>
